pygments
pymdown-extensions
cython>=0.28.5
twine
mkdocs==1.2.3
mkdocs-bootswatch==1.0
mkdocs-material==4.6.3
pycodestyle>=2.3.1
bibtexparser==1.2.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
https://github.com/mitya57/python-markdown-math/archive/1a87235b87b9e39b3206345c5a830448a513c9a1.zip
https://github.com/NiklasRosenstein/pydoc-markdown/archive/d2fa3540a9c85da8f33c374c5b21638bfcc2c745.zip
